{% extends "base.html" %}


{% block main %}
<div class="inner">
    <h3>We've got problems, with you.</h3>
    Slothchats require things, these include:
    <ul>
        <li>Websockets
        <li>Cookies
        <li>Javascript
    </ul>
    If you have disabilabled any of these, or your browser does not have them,
    then you'll be unable to chat like a sloth. We are sorry for any missed 
    chats due to these problems, however there is nothing we can do to help you.
    You are doomed. Please think about enabling these features and/or upgrading
    your browser so that you may enjoy the internet like a person from the future.
    <br><br>
    If you feel like your problem doesn't involved these things, or would
    like to complain, tweet at 
    <a href="http://www.twitter.com/luperbot">@luperbot</a>.<br><br>
    Love,<br>
    Slothchat
</div>
{% endblock %}
