{% extends "base.html" %}
{% block body_tag %}
<body onload="document.topic_form.new_topic.focus()">
{% endblock %}
{% block main %}
<div class="outter">
    <div id="chat_window" class="hide">
        <h3 id="subject"></h3>
        <p id="chat_text">
            Chats have started...<br>
        </p>
    </div>
<form id="chat_form" method="post">
    <input type="text" name="text" id="chat_box" class="input-xxlarge hide" maxlength="200" placeholder="Chat something quickly!" />
</form>
    {% if full %}
    <center>
    <h4>Whoa whoa, your mind can only handle so many thoughts at a time.</h4>
    (Wait for some one to chat with you, or delete one of your topics.)
    </center>
    {% endif %}
    {% if form %}
        <form name="topic_form" id="topic_form" method="POST" action="/">
            <input class="input-xxlarge" id="new_topic" name="new_topic" type="text" maxlength="94" placeholder="New Topic" />
        {% if form.errors %}
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                <p class="text-error">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        </form>
        {% endif %}
        <div class="inner">
    <h3>Topics:</h3>
    {% if topics %}
    <table class="table" id="results">
            {% for topic in topics %}
            <tr>
                {% if topic.author == user %}
                <td>{{topic.topic}}</td>
                <td>
                    <a href="/?del_topic={{topic.hash}}" class="topic-remove btn btn-mini btn-danger" type="button">remove</a>
                </td>    
                {% else %}
                <td><a href="#" id="{{topic.hash}}" class="topic-chat">{{topic.topic}}</a></td>
                <td></td>    
                {% endif %}
            </tr>
            {% endfor %}
    </table>
    {% else %}
    <h4>No one is up for debating. You start first.</h4>
    {% endif %}
</div>
</div>
{% endblock %}
{% block extra_js %}
<script>
var topic = '';
var chatting = false;
var user = "{{user}}";

$('.input').keypress(function (e) {
    if (e.which == 13) {
        $('form#new_topic').submit();
        return false;
    }
});

function isChatting() {
    $('.btn').addClass('disabled');
    $('a.btn').removeAttr('href');
    $('#topic_form').addClass('hide');
    $('.inner').addClass('hide');
    $('#chat_box').removeClass('hide');
    $('#chat_window').removeClass('hide');
    $('#chat_box').focus();
    chatting = true;
}

function endChatting() {
    $("p#chat_text").append("****Chat is ending****<br />");
    window.location = '/';
}

function startChat() {
    topic = this.id;
    ws.send(JSON.stringify({'type': 'new',
            'user': '{{user}}',
            'topic': topic,
            'active': true}));
}

function updateTopics(message) {
    var topic_row = '';
    var action_button = '';
    $("#results").html("");
    for (topic in message.topics) {
        if (message.topics[topic].author === user) {
            action_button = "<td>" + message.topics[topic].topic + "<td><a href='/?del_topic=" + message.topics[topic].hash + "' class='topic-remove btn btn-mini btn-danger' type='button'>remove</a></td>"; 
        } else {
        action_button = "<td><a href='#' id='" + message.topics[topic].hash + "' class='topic-chat'>" + message.topics[topic].topic + "</a></td><td></td>";
        }
        topic_row = "<tr>" + action_button + "</tr>";
        $("#results").append(topic_row); 
        $("a.topic-chat").click(startChat);
    }
}

$("a.topic-chat").click(startChat);

$(function() {
    if ("WebSocket" in window) {
        ws = new WebSocket("ws://" + document.domain + "/websocket");
        
        ws.onopen = function(){
            ws.send(JSON.stringify({'user': '{{user}}'}));
        }

        ws.onmessage = function (msg) {
            var message = JSON.parse(msg.data);
            if (message.type === 'new') {
                chatting = true;
                topic = message.topic;
                isChatting();
                $("#subject").html(message.topic_name);
            } else if (message.type === 'topics') {
                updateTopics(message);
            } else {
                if (message.active === false) {
                    endChatting();
                } else {
                    isChatting();
                    if (message.user === user) {
                        $("p#chat_text").append(message.user + ': ' + message.output + '<br />');
                    } else {
                        $("p#chat_text").append('<b>' + message.user + '</b>: ' + message.output + '<br />');
                    }
                    document.getElementById("chat_window").scrollTop = document.getElementById("chat_window").scrollHeight;
                }
            }
        }
    }

    $('#chat_form input[name=text]').focus();

    $("#chat_form").on('submit', function(e){
        e.preventDefault();

        var input = $('#chat_form input[name=text]');
        var message = $(input).val();
        $(input).val('');

        ws.send(JSON.stringify({'output': message,
            'type': 'chat',
            'user': '{{user}}',
            'topic': topic,
            'active': true}));
    });

    window.onbeforeunload = function() {
        ws.onclose = function () {
		console.log("hello, i'm cloossinnnggg");
	};
        ws.close();
    };
});
</script>
{% endblock %}
